<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>

<% if show_doc_actions? %>
<% @sendto = {} %>
      <ul id="tools-navbar">
        <%= render_show_doc_actions @document_list do |config, inner| %>
          <% @sendto[config.key] = inner %>
        <% end %>

        <% if @documents.any? { |doc| doc.citable? } %>
        <li>
          <%= link_to t("blacklight.tools.cite_html"), citation_bookmarks_path(:id => @documents), {:id => "citeLink", :data => {:blacklight_modal => "trigger"}, :class => "citation-btn btn btn-default"} %>
        </li>
        <% end %>

        <li id="sendto-menu">
          <div id="bookmarks-sendto">
            <button class="sendto btn btn-default dropdown-toggle" data-toggle="dropdown">Send To <span class="caret"></span></button>
            <ul class="dropdown-menu bookmarks-dropdown-menu">
              <% @sendto.each do |key,value| %>
                <li class="sendto-item">
                  <%= value %>
                </li>
              <% end %>
              <li class="sendto-item">
                <%= render :partial => 'catalog/refworks_form', :locals => {:documents=> @document_list} %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
<% end %>

<div class="clear-bookmarks">
  <%= render_results_collection_tools %>
</div>
