<% @page_title = t("blacklight.bookmarks.page_title", :application_name => application_name) %>

<h1 class="page-heading bookmark-heading pb-4 pl-4 pr-4"><%= t("blacklight.bookmarks.title") %></h1>

<div id="content" class="bookmarks-page col-md-11 bg-white rounded p-0 mx-auto">
  <% if current_or_guest_user.blank? %>
    <h2 class="section-heading"><%= t("blacklight.bookmarks.need_login") %></h2>
  <% elsif @documents.blank? %>
    <h2 class="section-heading no-bookmarks-message"><%= t("blacklight.bookmarks.no_bookmarks") %></h2>
  <% else %>
    <span id="alma_availability_url" data-url="<%= alma_availability_url(format: :json) %>" ></span>
    <%= render "sort_and_per_page" %>

    <div class="pl-5 pr-5">
    <%= render_document_index %>
    <%= render "results_pagination" %>
    </div>
  <% end %>
</div>
