<% facets_from_request(facet_field_names).each do |display_facet| %>

  <div class="form-group advanced-search-facet row">
    <%= label_tag display_facet.name.parameterize, :class => "col-sm-3 control-label" do %>
      <%= facet_field_label(display_facet.name) %>
    <% end %>
    <div class="col-sm-5">
      <%= content_tag(:select, :multiple => true,
        :name   => "f_inclusive[#{display_facet.name}][]",
        :id     => display_facet.name.parameterize,
        :class  => "form-control custom-select chosen-select",
        data: { placeholder: "Type or select #{facet_field_label(display_facet.name).downcase.pluralize}"}) do %>
        <% display_facet.items.each do |facet_item| %>
          <%= content_tag :option, :value => facet_item.value, :selected => facet_value_checked?(display_facet.name, facet_item.value) do %>
            <%= facet_display_value(display_facet.name, facet_item.label) %>&nbsp;&nbsp;(<%= number_with_delimiter facet_item.hits %>)
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-10">
    <div class="col-sm-3 control-label">
      <%= label_tag "publication_date" do %>
        Publication Year
      <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 begin-pub-date">
      <%= render_range_input("pub_date_sort", :begin) %>
    </div>
    <div class="col-sm-1">
      -
    </div>
    <div class="col-sm-3 end-pub-date">
      <%= render_range_input("pub_date_sort", :end) %>
    </div>
  </div>
</div>
