<%= form_tag basic_search_path, :class => 'advanced form-horizontal', :method => :get do  %>


<% search_context_component = Blacklight::ConstraintsComponent.for_search_history(advanced_search_context, blacklight_config) %> 
<% unless search_context_component.blank? %> 
  <div class="constraints card card-body bg-light search_history mb-3 advanced-filters"> 
    <h4><%= t 'blacklight_advanced_search.form.search_context' %></h4> 
    <%= render search_context_component %> 
  </div> 
<% end %> 


  <%= render Blacklight::HiddenSearchStateComponent.new( state: advanced_search_context, search_state: search_state_class.new(advanced_search_context, blacklight_config) ) %> 

  <div id="advanced_search" class="">
    <%= render 'advanced/advanced_search_fields' %>
    <%= render 'advanced_search_facets' %>
  </div>
<hr>

  <div class="sort-submit-buttons">
    <%= render 'advanced_search_submit_btns' %>
  </div>

<% end %>
