<div class="advanced-search-fields container">
  <% (1..advanced_search_config[:fields_row_count]).each do |count| %>
  <div class="row">
    <div class="col-sm-2">
    <%= select_tag("f_#{count}", options_for_select(advanced_key_value, search_fields_for_advanced_search), :class=>"form-control") %>
    </div>

    <div class="col-sm-2">
      <%= select_tag("op_row[]", options_for_select({"contains"=> :contains, "is (exact)" => :is, "begins with" => :begins_with}.sort, "contains"), :class => "form-control" ) %>
    </div>

    <div class="col-sm-3">
    <%= text_field_tag "q_#{count}", label_tag_default_for("q_#{count}"), :class => "form-control", autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
    </div>
  </div>
  <div class="row booleans">
  <% if count != advanced_search_config[:fields_row_count] %>
    <div class="col-sm-5">
    <%= radio_button_tag("op_#{count}", "AND", booleans("op_#{count}", "AND")) %><label> AND</label>
    <%= radio_button_tag("op_#{count}", "OR", booleans("op_#{count}", "OR")) %><label> OR</label>
    <%= radio_button_tag("op_#{count}", "NOT", booleans("op_#{count}", "NOT")) %><label> NOT</label>
    </div>
  <% end %>
  </div>
  <% end %>
</div>
