<div class="container" id="advanced-search-facets" style="margin-top: 14px;">
<% facets_from_request(facet_field_names).each do |display_facet| %>
  <div class="form-group advanced-search-facet row align-items-center">
    <%= label_tag display_facet.name.parameterize, class: "col-sm-3 control-label" do %>
      <%= facet_field_label(display_facet.name) %>
    <% end %>
    <div class="col-sm-8">
      <%= content_tag(:select, multiple: true,
        name: "f_inclusive[#{display_facet.name}][]",
        id: display_facet.name.parameterize,
        class: "form-control custom-select selectpicker",
        data: { "live-search": "true", placeholder: "Type or select #{facet_field_label(display_facet.name).downcase.pluralize}"}) do %>
        <% display_facet.items.each do |facet_item| %>
          <%= content_tag :option, value: facet_item.value, selected: facet_value_checked?(display_facet.name, facet_item.value) do %>
            <%= facet_display_value(display_facet.name, facet_item.label) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<div class="container">
<div class="row">

    <div class="col col-sm-3 control-label">
      <%= label_tag "range_pub_date_sort_begin" do %>
        Publication Year
      <% end %>
    </div>
    <div class="col-sm-8 d-flex justify-content-between">
    <div class="advanced-pub-date">
      <span class="sr-only">Publication date range (starting year)</span>
      <%= render_range_input("pub_date_sort", :begin) %>
    </div>
    <div class="pub-date-separator align-self-center">
      <%= label_tag "range_pub_date_sort_end" do %>
        to
      <% end %>
    </div>
    <div class="advanced-pub-date">
      <span class="sr-only">Publication date range (ending year)</span>
      <%= render_range_input("pub_date_sort", :end) %>
    </div>
  </div>
</div>
</div>
