<% grid_index = 0 %>
<% left_column = [] %>
<% right_column = [] %>

<% renderable_results(results, options).each_pair do |engine_id, result| %>
  <% next if engine_id == "archives_space" && !aspace_integration_enabled? %>
  <% next if ["cdm", "lib_guides"].include?(engine_id) %>

  <% card_content = capture do %>
    <% if engine_id == 'journals' && with_libguides? %>
      <div data-lib-guides-url="<%= lib_guides_path(q: @lib_guides_query_term) %>" data-controller="lib-guides">
        <%= render partial: "lib_guide_recommender_bento_new" %>
      </div>
    <% end %>

    <%= render partial: "search/bento_engine_card", locals: {
          engine_id:,
          result:,
          wrapper_class: bento_grid_position_class(grid_index) } %>
  <% end %>

  <% if grid_index.even? %>
    <% left_column << card_content %>
  <% else %>
    <% right_column << card_content %>
  <% end %>

  <% grid_index += 1 %>
<% end %>

<div class="<%= [results_class, 'bento-columns'].compact.join(' ') %>">
  <div class="bento-column bento-column-left">
    <%= safe_join(left_column) %>
  </div>
  <div class="bento-column bento-column-right">
    <%= safe_join(right_column) %>
  </div>
</div>
