<div class="<%= results_class %>">
  <% renderable_results(results, options).each_pair do |engine_id, result| %>
    <div class="<%= comp_class %> <%= engine_id %>">
      <h2 class="rounded-top m-0"><%= bento_icons(engine_id) %><%= bento_titleize(engine_id) %> </h2>
      <%= render :layout => "layouts/bento_box_wrapper", :locals => {:results => result } do %>
        <%= bento_search result %>
      <% end %>
      <%= render_linked_results(engine_id) %>
    </div>
  <% end %>
</div>
