
  <div class="bento-resource-container">
    <h2 class="bento-resource-types bg-lighter-grey">
      <%= link_to t("bento.digital_collections_header"), "https://digital.library.temple.edu/digital/search/searchterm/#{params[:q]}/order/nosort", style: "color: #011238" %></h2>
    <ul class="bento-resource-types-list pt-2 list-inline d-flex flex-wrap justify-content-start">

      <% @cdm_records.each do |cdm_record| %>
        <li class="bento-resource-list-item list-inline-item pb-1">
          <%= link_to cdm_record.link do %>
            <%= image_tag cdm_record.thumbnail %>
            <div class="pt-2 w-75">
              <%= cdm_record.title %>
            </div>
          <% end %>
          <p class="w-75" style="color:black;font-size:1rem;">
            <%= "Date: #{cdm_record["date"]}" if cdm_record["date"].present? %>
            <br /><%= cdm_collection_name(cdm_record.collection) %>
          </p>
        </li>
      <% end %>

    </ul>
  </div>
