<% cdm_results = @results["cdm"] %>
<% cdm_collection_ids = Array.wrap(Rails.configuration.cdm&.dig(:collection_ids)).join("!") %>

<div class="bento-resource-container cdm-results-container">
  <h2 class="bento-resource-types bg-lighter-grey"><%= t("bento.digital_collections_header") %></h2>

  <% if cdm_results.present? %>
  <ul class="bento-resource-types-list pt-2 list-inline d-flex flex-wrap justify-content-start">
    <% @results["cdm"].each do |cdm_record| %>
      <li class="bento-resource-list-item list-inline-item pb-1">
        <%= link_to cdm_record.link do %>
          <%= image_tag cdm_record.other_links[0], class: "cdm-image", alt: "", loading: "lazy" %>
          <div class="pt-2 w-75">
            <h3 class="cdm-item-title"><%= cdm_record.title %></h3>
          </div>
        <% end %>
        <p class="cdm-data">
          <%= "Date: #{cdm_record.publication_date}" if cdm_record.publication_date.present? %>
          <br /><%= cdm_record.source_title  if cdm_record.source_title.present? %>
        </p>
      </li>
    <% end %>
    <li class="w-100">
      <%= link_to "View all digitized collections results >", "https://digital.library.temple.edu/digital/search/collection/#{cdm_collection_ids}/searchterm/#{params[:q]}/order/nosort", target: "_blank" %>
    </li>
  </ul>
  <% else %>
    <div class="bento-resource-types-list fs-6">
      <%= render partial: "bento_search/no_cdm_results" %>
    </div>
  <% end %>
</div>
