<div id="getting-started">
  <p class="section-heading"><%= t("bento.section_heading_html",
    books: link_to(t("bento.books"), search_books_path),
    articles: link_to(t("bento.articles"), search_path),
    journals: link_to(t("bento.journals"), search_journals_path),
    more: link_to(t("everthing.more"), search_catalog_path)) %></p>

  <p class="section-heading"><strong><%= t("bento.library_search_question") %></strong></p>
  <p><%= t("bento.library_search_answer") %></p>
  <ul class="everything-home-list">
    <li>
      <%= link_to(t("bento.books"), search_books_path) %>,
      <%= link_to(t("bento.journals"), search_journals_path) %>, and
      <%= link_to(t("bento.more"), search_catalog_path) %>
    </li>
    <li><%= link_to(t("bento.articles"), search_path) %></li>
  </ul>

  <p><%= t("bento.need_help") %> <%= help_link %>.</p>
  <p><%= t("bento.more_information") %><%= faq_link(:long) %>.</p>
</div>
