<h5><%= t("no_results.header") %></h5>
<ul class="pb-4">
  <li><%= t("no_results.modify_words") %></li>
  <li><%= t("no_results.fewer_keywords") %></li>
  <li><%= t("no_results.spell_check") %></li>
  <li>
    <%= help_link %>
    <%= t("no_results.for_help") %>
  </li>
</ul>
