    <% if @results %>
    <% if !cookies.fetch("bentoOnce", false) %>
        <div class="row" data-target="explanation.bento" data-controller="explanation">
          <div class="col-md-6 col-md-offset-3">
            <p>
              <%= t('bento.explanation_part_one_html', href: link_to(t("bento.explanation_part_one_href"), root_path)) %>
              <%= t('bento.explanation_part_two_html', href: link_to(t("bento.explanation_part_two_href"), t("bento.explanation_part_two_link"))) %>
            </p>
          </div>
          <div class="col-md-2">
            <button class="btn btn-link" data-action="explanation#bento">Hide</button>
          </div>
        </div>
      <% end %>
      <div class="row bento-results">
        <% @results.each_pair do |engine_id, result| %>
          <% unless empty_resource_types?(result) %>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-8 col-xs-12 bento_compartment <%= engine_id %>">
                  <h2><%= bento_icons(engine_id) %><%= bento_titleize(engine_id) %> </h2>
                  <%= render :layout => "layouts/bento_box_wrapper", :locals => {:results => result } do %>
                      <%= bento_search result %>
                  <% end %>
                </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= render("home_text") %>
    <% end %>
