<% if @results %>
  <div class="container-xl pb-3 mt-5">
    <%= render_bento_results_new %>
  </div>


  <%= render partial: "research_guides_faq_new", locals: { lib_guides_results: @lib_guides_results } %>
  <%= render partial: "digital_collections_new" %>
  <%= render partial: "resource_types_new" if @response.present? %>

  <% $stderr.puts("\n****\n**** @response was nil from 'search_controller#index' for bento index page -- #{request.original_url} \n**** #{DateTime.now}\n****\n\n") if @response.nil? %>

  <% faq_url = I18n.t("bento.faq_link", default: "https://answers.library.temple.edu") %>
  <div class="faq-link-section text-center">
    <%= image_tag "svg/question.svg", class: "faq-link-icon me-3", alt: "icon for faqs" %>
    <%= link_to I18n.t("bento.faq_text", default: "Frequently asked questions"), faq_url, class: "faq-link d-inline-flex align-items-center justify-content-center", target: "_blank" %>
  </div>

<% else %>

  <section id="content">
    <%= render("home_text") %>
  </div>

<% end %>
