<% Rails.configuration.query_list.each do |query| %>
  <%= query_list(title=query["title"], query=query["query"]) %>
<% end %>


<% if @results %>
<div class="d-flex justify-content-between bento-main-container container">
  <%= render_bento_results %>
</div>

  <%= render :partial => "digital_collections" %>
  <%= render :partial => "research_guides_faq" %>
  <%= render :partial => "resource_types" %>

<% else %>
  <div class="bento-container">
    <%= render("home_text") %>
  </div>
<% end %>
