
<%= query_list(title="Call Number Asc.", query="f_1=all_fields&f_2=all_fields&f_3=all_fields&op_1=AND&op_2=AND&operator%5Bq_1%5D=contains&operator%5Bq_2%5D=contains&operator%5Bq_3%5D=contains&q_1=&q_2=&q_3=&range%5Blc_classification%5D%5Bbegin%5D=P93.5.T83x+1990&range%5Blc_classification%5D%5Bend%5D=&range%5Bpub_date_sort%5D%5Bbegin%5D=&range%5Bpub_date_sort%5D%5Bend%5D=&search_field=advanced&sort=lc_call_number_sort+asc%2C+pub_date_sort+desc") %>

<%= query_list(title="Creator/Author", query="f%5Bcreator_facet%5D%5B%5D=Tufte%2C+Edward+R.%2C+1942-&sort=title_sort+asc%2C+pub_date_sort+desc") %>


<% if @results %>
<div class="d-flex justify-content-between bento-main-container container">
  <%= render_bento_results %>
</div>

  <%= render :partial => "digital_collections" %>
  <%= render :partial => "research_guides_faq" %>
  <%= render :partial => "resource_types" %>

<% else %>
  <div class="bento-container">
    <%= render("home_text") %>
  </div>
<% end %>
