<% if @results %>
  <div class="container bento-main-container justify-content-between pb-3">
    <%= render_bento_results_new %>
  </div>

  <% if @response %>
    <%= render :partial => "digital_collections" %>
  <% else %>
    <% $stderr.puts("\n****\n**** @response was nil from '#{controller_name}_controller##{action_name}' for digital_collections partial -- #{request.original_url} \n**** #{DateTime.now}\n****\n\n") if @response.nil? %>
  <% end %>

  <%= render :partial => "research_guides_faq" %>

  <% if @response %>
    <%= render :partial => "resource_types" %>
  <% else %>
    <% $stderr.puts("\n****\n**** @response was nil from '#{controller_name}_controller##{action_name}' for resource_types partial -- #{request.original_url} \n**** #{DateTime.now}\n****\n\n") if @response.nil? %>
  <% end %>

<% else %>

  <section id="content">
    <%= render("home_text") %>
  </div>

<% end %>
