<h1>Temple University Libraries record(s):</h1>

<p>
<%= t('blacklight.email.text.message', :message => @message) %>
</p>

<% @documents.each do |document| %>
<%= sanitize document.to_email_text.gsub("\n",tag.br) %>
<%= tag.br %>
<%= t('blacklight.email.html.url') %>
<%= record_mailer_link(document, @url_gen_params) %>
<%= tag.br %>
<% end %>
