<% fines.each_with_index do |fine, counter| %>
  <tr>
    <td><%= counter + 1 %></td>
    <td><%= fine.title %></td>
    <td><%= fine.type['desc'] %></td>
    <td><%= number_to_currency(fine.balance.to_f) %></td>
  </tr>
<% end %>
<tr class="total-fines">
  <td colspan="4" class="fine-label">
    Total
  </td>
  <td>
  <%= number_to_currency(fines.sum) %>
</td>
</tr>
