<% holds.each_with_index do |hold, counter| %>
<tr>
  <td><%= counter + 1 %></td>
  <td><%= hold.title %></td>
  <td><%= expiry_date(hold) %></td>
  <td><%= hold.request_status %></td>
</tr>
<tr>
  <td colspan="7">
  <div class="col col-md-12 text-left">
    For requests from the Special Collections Research Center, see
    <%= link_to "SCRC Research Account", "https://temple.aeon.atlas-sys.com/logon" %>.
    </div>
  </td>
</tr>
<% end %>
