<div class="container user-holds">
  <h2 class="user_section_title">My Requests</h2>
  <table class="table table-hover table-responsive" border="0">
    <caption>Table of Current Fines for this user</caption>
    <thead>
      <tr>
        <th width="2%">#</th>
        <th width="40%">Title</th>
        <th width="10%">Held Until</th>
        <th width="15%">Status</th>
        <th width="28%"></th>
      </tr>
    </thead>
    <tbody>
        <% @user.holds.each_with_index do |hold, counter| %>
        <tr>
          <td><%= counter + 1 %></td>
          <td><%= hold.title %></td>
          <td><%= expiry_date(hold) %></td>
          <td><%= hold.request_status %></td>
        </tr>
        <% end %>
        <tr>
          <td colspan="7">
          <div class="col col-md-12 text-left scrc-link">
            For requests from the Special Collections Research Center, see
            <%= link_to "SCRC Research Account", "https://temple.aeon.atlas-sys.com/logon" %>.
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>
