<h1 class="page-title">My Library Account</h1>

<div class="container user-account">
	<div class="user-info">
		<ul style="list-style-type: none;">
			<li><span style="font-weight: 600;">Name:</span> Laura Pierson </li>
			<li><span style="font-weight: 600;">Status:</span> Active </li>
			<li><span style="font-weight: 600;">Items currently on loan:</span> <%= total_loans(@loans) %></li>
			<li><span style="font-weight: 600;">Items currently on hold:</span> <%= total_holds(@holds) %></li>
			<li><span style="font-weight: 600;">Current balance:</span> 
				<span class="total-fines"><%= number_to_currency(@fines.sum) %></span> </li>
		</ul>
	</div>
	<div class="container user-loans">
		<h2 class="user_section_title">My Loans 
			<span class="renew-selected"><span onclick="document.forms.namedItem('renew-loans').submit();" title="Renew selected titles">Renew Selected</span></span></h2>
		<table class="table table-hover table-responsive" border="0">
			<caption>Table of Current Loans for this user</caption>
			<thead>
				<tr>
					<th width="2%">#</th>
					<th width="40%">Title</th>
					<th width="15%">Due</th>
					<th width="10%">Barcode</th>
					<th width="15%">Call Number</th>
					<th width="10%"><span class="hide-me">Renew</span><input type="button" id="selectall" class="button" onClick="selectall();" value="Select All" /><input type="button" id="deselectall" class="button" onClick="deselectall();" value="Deselect All" /></th>
					<th width="8%"></a>
				</tr>
			</thead>
			<tbody>
				<form id="renew-loans" action="javascript:alert('SUBMITTED!')" method="GET" onSubmit="">
			  <% @loans.list.each_with_index do |loan, counter| %>
			    <tr>
			      <td><%= counter + 1 %></td>
			      <td><%= loan.title %></td>
			      <td><%= make_date(loan.due_date) %></td>
			      <td><%= loan.item_barcode %></td>
			      <td><%= loan.call_number %></td>
			      <td class="renewal-check">
			      	<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="checkbox" name="renewselected" value="<%= loan.loan_id %>">
					    <span class="hide-me">Renew this loan</span>
					  </label>
					</div>
				  </td>
			      <td class="overdue"><%= is_overdue(loan.loan_status) %></td>
			    </tr>
			  <% end %>
			</form>
			</tbody>
		</table>
	</div>

	<div class="container user-holds">
		<h2 class="user_section_title">My Requests</h2>
		<table class="table table-hover table-responsive" border="0">
			<caption>Table of Current Fines for this user</caption>
			<thead>
				<tr>
					<th width="2%">#</th>
					<th width="40%">Title</th>
					<th width="10%">Held Until</th>
					<th width="10%">Barcode</th>
					<th width="10%">Status</th>
				</tr>
			</thead>
			<tbody>
			  	<% @holds.list.each_with_index do |hold, counter| %>
			    <tr>
			      <td><%= counter + 1 %></td>
			      <td><%= hold.title %></td>
			      <td><%= make_date(hold.expiry_date) %></td>
			      <td>12345678999<%#= hold.barcode %></td>
			      <td><%= hold.request_status %></td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
	</div>

	<div class="container user-fines">
		<h2 class="user_section_title">My Fines</h2>
		<table class="table table-hover table-responsive" border="0">
			<caption>Table of Current Fines for this user</caption>
			<thead>
				<tr>
					<th width="2%">#</th>
					<th width="40%">Title</th>
					<th width="15%">Fee Type</th>
					<th width="10%">Barcode</th>
					<th width="10%">Fine</th>
				</tr>
			</thead>
			<tbody>
			  <% @fines.list.each_with_index do |fine, counter| %>
			    <tr>
			      <td><%= counter + 1 %></td>
			      <td><%= fine.title %></td>
			      <td><%= fine.type['desc'] %></td>
			      <td>12345678999<%#= fine.item_barcode %></td>
			      <td><%= number_to_currency(fine.balance.to_f) %></td>
			    </tr>
			  <% end %>
			  <tr class="total-fines">
			  	<td colspan="4" class="fine-label">
			  		Total
			  	</td>
			  	<td>
			  	<%= number_to_currency(@fines.sum) %>
			  </td>
			  </tr>
			</tbody>
		</table>
		<div class="fines-link">
			<%= link_to "Learn more about late fines and replacement charges.", "http://library.temple.edu/services/privileges" %>
		</div>
	</div>
</div>