<div id="site-footer" role="contentinfo">
  <div class="footer-header">
    <div class="d-md-inline-flex justify-content-around align-items-start w-100 pt-4">
      <a class="donate btn" href="https://library.temple.edu/categories/support-the-libraries">Support the Libraries</a>
      <ul class="social-media-list">
        <li><%= link_to image_tag("IG_red_round.png", class: "social-footer", alt: "Instagram Icon"), "http://instagram.com/tulibraries" %></li>
        <li><%= link_to image_tag("FB_red_round.png", class: "social-footer", alt: "Facebook Icon"), "https://www.facebook.com/templelibraries/" %></li>
        <li><%= link_to image_tag("Twitter_red_round.png", class: "social-footer", alt: "Twitter Icon"), "https://twitter.com/TempleLibraries" %></li>
      </ul>
    </div>
  </div>

  <div class="tu-links pt-2 container">
    <div class="row">
      <h2><%= t("footer.quick_links") %></h2>
    </div>

    <div class="d-flex flex-md-row flex-column justify-content-between mt-3">
      <div>
        <ul class="list-unstyled">
          <li><%= link_to(t("footer.ezborrow_html"), t("footer.ezborrow_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.illiad_html"), t("footer.illiad_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.find_by_citation_html"), t("footer.find_by_citation_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.patron_forms_html"), t("footer.patron_forms_link"), target: "_blank") %></li>
        </ul>
      </div>

      <div>
        <ul class="list-unstyled">
          <li><%= link_to(t("footer.standards_html"), t("footer.standards_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.diversity_html"), t("footer.diversity_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.accessibility_html"), t("footer.accessibility_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.employment_html"), t("footer.employment_link"), target: "_blank") %></li>
        </ul>
      </div>

      <div>
        <ul class="list-unstyled">
          <li><%= link_to(t("footer.privacy_html"), t("footer.privacy_link"), target: "_blank") %></li>
          <li><%= link_to(t("footer.tu_homepage_html"), t("footer.tu_homepage_link"), target: "_blank") %></li>
        </ul>
      </div>

      <div>
        <div class="address">
          <p class="street-address"><%= t("footer.charles_address").html_safe %></p>
          <p><%= link_to(t("footer.numbers_html"), t("footer.numbers_link"), target: "_blank") %></p>
          <p><%= link_to(t("footer.staff_directory_html"), t("footer.staff_directory_link"), target: "_blank") %></p>
          <p><%= link_to(t("footer.org_charts_html"), t("footer.org_charts_link"), target: "_blank") %></p>
          <p><%= link_to(t("footer.staff_forms_html"), t("footer.staff_forms_link"), target: "_blank") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

