<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <%= link_to image_tag('temple-logo-t-box.svg', class: "header-logo"), root_path %>
    <%= link_to "University Libraries", root_path, class: "header-name" %>
    </div>
  </div>
</div>
<div id="user-util-links">
<div class=" red-navbar container">
  <%= navigational_headers %>

  <div class="text-right" id="user-util-collapse">
    <%= navigational_links %>
    <%= render partial: '/user_util_links' %>
  </div>
</div>
</div>
<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
