<nav id="logo-navbar" class="navbar navbar-header bg-white" role="navigation">
  <%= link_to library_link, class: "header-name d-flex align-items-center" do %>
    <%= image_tag("temple-logo-t-box.svg", class: "header-logo d-inline-flex", alt: "temple-logo") %>
    <span class="logo-text">University Libraries</span>
  <% end %>
</nav>

<nav id="red-navbar" class="navbar navbar-header navbar-expand-sm bg-red" role="navigation">
  <div class="container-fluid d-flex align-items-center no-padding ">
      <h1 class="">
        <%= link_to("Library Search", everything_path, id: "catalog-header") %>
      </h1>
      <%= render partial: "/user_util_links" %>
  </div>
</nav>

<nav id="search-navbar" class="navbar navbar-default" role="navigation">
  <div class="container mx-auto">
    <%= render "search_form"  %>
  </div>
</nav>

<%= render "navbar" %>
