<nav id="logo-navbar" class="navbar navbar-header bg-white align-items-center" role="navigation">
  <%= link_to library_link, class: "header-name d-flex align-items-center" do %>
    <%= image_tag("temple-logo-t-box.svg", class: "header-logo d-inline-flex", alt: "temple-logo") %>
    <span class="logo-text">University Libraries</span>
  <% end %>
</nav>

<!-- <nav id="red-navbar" class="navbar navbar-header navbar-expand-sm bg-red py-0" role="navigation">
  <div class="d-inline-flex pl-md-3 pr-md-1 w-100 flex-wrap align-items-center">
    <div class="ml-auto col-sm-auto py-md-1">
      <%= render partial: "/user_util_links" %>
    </div>
  </div>
</nav> -->

<nav id="website-navbar" class="navbar navbar-header bg-seagreen">
  <div class="d-inline-block w-100 mx-auto" id="main-menu">
    <ul class="list-unstyled p-0 m-0">
      <!-- These links go to the QA site.  They will need to be updated when the site goes into production -->
      <li class="first"><%= link_to "About", "https://web.qa.tul-infra.page/about" %></li>
      <li><%= link_to "Visit & Study", "https://web.qa.tul-infra.page/visit-study" %></li>
      <li><%= link_to "Research Services", "https://web.qa.tul-infra.page/research-services" %></li>
      <li class="last"><%= link_to "Contact Us", "https://web.qa.tul-infra.page/contact-us" %></li>
      <li class="nav-right hours-nav"><%= link_to "Hours", "https://web.qa.tul-infra.page/hours" %></li>
      <li class="nav-right chat-nav"><%= link_to "Chat", "#" %></li>
      <li class="nav-right account-nav"><%= link_to "My Account", users_account_path %></li>
    </ul>
  </div>
</nav>

<nav id="search-navbar" class="navbar navbar-default bg-website-grey border-bottom border-red py-3" role="navigation">
  <div class="d-lg-inline-flex align-items-center mx-auto">
    <h1 class="text-center pr-4">
      <%= link_to("Library Search", everything_path, id: "catalog-header") %>
    </h1>

    <%= render_search_bar %>
    <div class="text-center">
      <%= render_bookmark_partial %>
    </div>
  </div>
</nav>

<%= render "navbar" %>
