<nav id="logo-navbar" class="navbar navbar-header bg-white align-items-center" role="navigation">
  <%= link_to library_link, class: "header-name d-flex align-items-center" do %>
    <%= image_tag("temple-logo-t-box.svg", class: "header-logo d-inline-flex", alt: "temple-logo") %>
    <span class="logo-text">University Libraries</span>
  <% end %>
</nav>

<nav id="website-navbar" class="navbar navbar-header bg-red px-0">
  <div class="row d-none d-sm-none d-md-none d-lg-block w-100 mx-auto" id="main-menu">
    <ul class="list-unstyled p-0 m-0">
      <!-- These links go to the QA site.  They will need to be updated when the site goes into production -->
      <li class="first"><%= link_to "About", "https://library.temple.edu/about" %></li>
      <li><%= link_to "Visit & Study", "https://library.temple.edu/visit-study" %></li>
      <li><%= link_to "Research Services", "https://library.temple.edu/research-services" %></li>
      <li class="last"><%= link_to "Contact Us", "https://library.temple.edu/contact-us" %></li>
      <li class="nav-right hours-nav"><%= link_to "Hours", "https://library.temple.edu/hours" %></li>
      <li class="nav-right chat-nav"><%= link_to "Chat", "https://v2.libanswers.com/chati.php?hash=62e4dcbf0881db4f1514b077fbfd45b7&referer=http%3A%2F%2Flocalhost%3A3000%2Fhsl&referer_title=Temple%20University%20Libraries" %></li>
      <li class="nav-right account-nav"><%= link_to "My Account", users_account_path %></li>
    </ul>
  </div>
</nav>

<nav id="search-navbar" class="navbar navbar-default bg-website-grey border-bottom border-red py-3" role="navigation">
  <div class="d-lg-inline-flex align-items-center mx-auto">
    <h1 class="text-center pr-4">
      <%= link_to("Library Search", everything_path, id: "catalog-header") %>
    </h1>
    <div class="ml-auto col-sm-auto py-md-1">
      <%= render partial: "/user_util_links" %>
    </div>
  </div>
</nav>

<nav id="search-navbar" class="navbar navbar-default bg-tan border-bottom border-red" role="navigation">
  <div class="container mx-auto">
    <%= render_search_bar %>
  </div>
</nav>

<%= render "navbar" %>
