<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <%= link_to library_link, class: "header-name", id: "header-logo" do %>
      <%= image_tag('temple-logo-t-box.svg', class: "header-logo", alt: "temple-logo") %>
      <span class="logo-text">University Libraries</span>
    <% end %>
    </div>
  </div>
</div>

<div id="user-util-links" class="row red-navbar ">
  <div class="<%= container_classes %>">
    <% unless navigational_links.nil? %>
      <div class="col-sm-12 col-md-4">
        <h1 class="nav-header">
          <%= navigational_headers %>
        </h1>
    <% else %>
      <div class="col-sm-12 col-md-4">
        <%= navigational_headers %>
    <% end %>
      </div>

    <div class="col-sm-12 col-md-7 col-lg-8 offset-lg-1" id="user-util-collapse">
      <div class="navbar-right ">
        <%= navigational_links %>
        <%= render partial: '/user_util_links' %>
      </div>
    </div>
  </div>
</div>

<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render "search_form"  %>
  </div>
</div>
