<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Temple University Libraries", "http://library.temple.edu/", class: "navbar-brand" %> 
    </div>
  </div>
</div>
<div id="user-util-links">
<div class="container">
  <div class="collapse navbar-collapse text-right" id="user-util-collapse">
    <%= render :partial=>'/user_util_links' %>
  </div>
</div>
</div>
<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
