<nav id="logo-navbar" class="navbar navbar-header bg-white align-items-center" role="navigation">
  <%= link_to library_link, class: "header-name d-flex align-items-center" do %>
    <%= image_tag("temple-logo-t-box.svg", class: "header-logo d-inline-flex", alt: "temple-logo") %>
    <span class="logo-text">University Libraries</span>
  <% end %>
</nav>

<nav id="red-navbar" class="navbar navbar-header navbar-expand-sm bg-red py-0" role="navigation">
  <div class="d-inline-flex pl-md-3 pr-md-1 w-100 flex-wrap align-items-center">
    <h1 class="col-sm-auto py-md-1">
      <%= link_to("Library Search", everything_path, id: "catalog-header") %>
    </h1>
    <div class="ml-auto col-sm-auto py-md-1">
      <%= render partial: "/user_util_links" %>
    </div>
  </div>
</nav>

<nav id="search-navbar" class="navbar navbar-default bg-tan border-bottom border-red" role="navigation">
  <div class="container mx-auto">
    <%= render_search_bar %>
  </div>
</nav>

<%= render "navbar" %>
