<%= render "index_summary_field", :document => document, document_counter: document_counter %>

<div class="document-info-container clearfix flex-row-reverse">

<%# default partial to display solr document fields in catalog index view -%>
  <div class="thumbnail float-sm-end" <%= DocumentDecorator.new(document).isbn_data_attribute %> >
    <% if document['web_photo_display'] %>
      <%= link_to document do %>
        <%= image_tag document['web_photo_display'].first, :alt => "Image of " + document["title_statement_display"].to_s, :class => "staff_thumbnail"  %>
      <% end %>
    <% end %>
  </div>

  <%= render "fields", document: document, document_counter: document_counter %>

</div>
