<div id="documents" class="noresults">
  <h2 class="no-results-header"><%= t("articles.zero_results.title_html") %></h2>

  <p class="no-results-header"><%= t("articles.scholarly_articles_html") %></p>
  <ul class="pb-4 no-results-tips">
    <li><%= link_to("Databases Search", search_databases_path) %></li>
    <li><%= link_to(t("articles.citation_href"), t("articles.citation_link"), target: "_blank") %></li>
    <li><%= link_to(t("journals.zero_results.find_articles"), t("journals.zero_results.find_articles_link"), target: "_blank") %></li>
  </ul>

  <%= render "search_suggestions" %>
  <% render "other_library_options" %>
</div>
