<%= form_tag search_path, :class => "advanced form-horizontal", :method => :get do  %>
  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div class="constraints well search_history">
      <h4><%= t "blacklight_advanced_search.form.search_context" %></h4>
      <%= search_context_str.to_s %>
    </div>
  <% end %>

  <%= render_hash_as_hidden_fields(advanced_search_context) %>

  <div id="advanced_search" class="form-group">
    <%= render "advanced_search_fields" %>
    <%= render "advanced_search_facets" %>

    <div class="sort-submit-buttons clearfix col-sm-12">
      <hr>
      <%= render "advanced_search_submit_btns" %>
    </div>
  </div>

<% end %>

