<div class="p-3">
  <%= render :partial=>"/shared/flash_msg" %>
</div>


<h1 class="error-header not-found text-center">
  <%= t("blacklight.header_links.bad_query") %>
</h1>
<p class="text-center">
  <%= t("blacklight.errors.unsupported_query_format") %>
  <%= t("blacklight.errors.not_found_html", href: link_to(t("blacklight.errors.error_help_href"), t("blacklight.errors.error_help_link"))) %>
  <%= link_to("new search", root_path) %>.
</p>
