<div class="electronic-notes">
  <strong>Notes:</strong>

  <% unavailable_notes.each do |note| %>
    <div class="alert alert-danger">
      <p>This service is temporarily unavailable<p>

      <% note.each do |label, value| %>
        <p> <%= "#{label}" %>: <%= "#{value}" %></p>
      <% end %>
    </div>
  <% end %>

  <% collection_notes.each do |note| %>
    <p><%= raw note %></p>
  <% end %>

  <% service_notes.each do |note| %>
    <p><%= raw note %></p>
  <% end %>

  <p><%= public_notes %></p>
</div>
