<% doc_presenter = document_presenter(document) %>

<div class="row document-metadata mb-0">
  <% doc_presenter.fields_to_render do |field_name, field_config, field_presenter| -%>
    <div class="col-12 pl-2">
      <div class="blacklight-<%= field_name.parameterize %>"> 
      <% unless field_config[:no_label] %>
        <span class="index-label"><%= field_presenter.label %></span>: 
      <% end %>
        <% if field_config.raw %>
          <%= raw doc_presenter.field_value(field_config) %>
        <% else %>
          <%= doc_presenter.field_value(field_config) %>
        <% end -%>
      </div>
    </div>
  <% end -%>
</div>

<%= render_alma_availability(document) %>

<% doc_presenter.lc_call_number_field_to_render do |field_name, field_config, field_presenter| -%>
  <%= render_lc_display_field(field_presenter) %>
<% end -%>
