
<% doc_presenter = index_presenter(document) %>

<dl class="row document-metadata mb-0">
<% index_fields(document).each do |field_name, field| -%>
  <% if should_render_index_field? document, field %>
    <% unless field[:no_label] %>
    <dt class="index-label col-sm-12 col-md-4 blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
    <dd class="col-sm-12 col-md-5 blacklight-<%= field_name.parameterize %>">
    <% end %>
      <% if field[:raw] %>
        <%= raw doc_presenter.field_value(field) %>
      <% else %>
        <%= doc_presenter.field_value(field) %>
      <% end -%>
    </dd>
  <% end -%>
<% end -%>
</dl>

<% if controller_name == "catalog" || controller_name == "books" || controller_name == "journals" || controller_name == "bookmarks" %>
  <span class="row document-metadata blacklight-availability availability-ajax-load" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" ></span>
<% end %>
