<%# header bar for doc items in index view -%>

  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>

    <% document_actions = capture do %>
      <% if counter = document_counter_with_offset(document_counter) %>
        <span class="document-counter float-left">
          <%= t('blacklight.search.documents.counter', counter: counter) %>
        </span>
      <% end %>

      <header class="documentHeader">
        <div class="document-header-container">
          <h3 class="index_title">
            <%= link_to_document document, counter: counter %>
          </h3>
          <%= render "index_format_date_fields", :document => document %>
        </div>
        <%= render_index_doc_actions document, wrapping_class: "index-document-functions mt-auto" %>
      </header>

    <% end %>

    <%= document_actions %>
