<div class="blacklight-availability availability-ajax-load" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" >
</div>

  <%= render_online_availability_button(document, document_counter) %>

  <% if document.fetch("availability_facet", []).include? "At the Library" %>
    <div class="row button-break"></div>
    <div data-controller="availability" data-availability-url="<%= item_url(document.alma_availability_mms_ids.first, redirect_to: request.url) %>">
      <div class="controls">
        <button data-action="availability#item" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" class="btn btn-sm btn-default availability-toggle-details" data-toggle="collapse" data-target="#physical-document-<%=  document_counter %>, availability.button" id="available_button-<%=  document_counter %>">
          <span role="spin" aria-expanded="false">Loading...</span>
        </button>
        <div id="requests-container-<%=  document.id %>" class="hidden" data-controller="requests" data-target="show.request, availability.request">
          <% if user_signed_in? %>
            <button id="request-btn-<%=  document_counter %>" class="btn btn-primary request-button" data-action="requests#hold">Request</button>
            <div id="stimulus-modal" data-target="requests.modal"></div>
          <% else %>
            <%= link_to(t("blacklight.requests.log_in"), new_user_session_with_redirect_path(request.url),  data: {"ajax-modal": "trigger"}) %>
          <% end %>
        </div>
      </div>
      <div data-target="availability.spinner" class="spinner">
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        Loading Availability
      </div>
      <div  data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" id="physical-document-<%= document_counter %>" class="collapse panel-content avail-container index-avail-container">
        <div class="table-wrapper hidden">
          <div data-target="availability.panel"></div>
          <div><%= render "check_holdings", document: document, document_counter: document_counter %></div>
        </div>
      </div>
    </div>
  <% end %>
