<% doc_presenter = index_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">
  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
      <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
    <% end -%>
  <% end -%>

  <% @response["response"][:docs].each_with_index {|field, i| %>
    <% if document["availability_facet"][i] == "Online" %>
      <% doc_presenter = show_presenter(document) %>
      <% document_show_fields(document).each do |field_name, field| -%>
        <% if field_name == 'electronic_resource_display' %>
          <% if should_render_show_field? document, field %>
            <% if document[field_name].length == 1 %>
            <%# require 'pry'; binding.pry %>
              <%= button_to "Online", single_link_builder(document[field_name][i]), class:"collapse-button btn btn-sm btn-info" %>
            <% else %>
              <button class="btn btn-sm btn-info collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document_counter %>">Online</button>
              <div id="online-document-<%= document_counter %>" class="collapse online_resources">
                <ul>
  	              <p class="online_resources col-md-9"><%= doc_presenter.field_value field_name %></p>
                </ul>
              </div>
            <% end %>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end %>

    <% if document["availability_facet"][i] == "At the Library" %>
      <button class="btn btn-sm btn-success availability-toggle-details collapse-button" data-toggle="collapse" data-target="#physical-document-<%=  document_counter %>" data-show-text="">Check Availability</button>
      <dd class="blacklight-availability availability-ajax-load" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" >Loading...</dd>
      <div id="physical-document-<%= document_counter %>" class="collapse">
        <div class="availability-details-container" data-availability-iframe-url="<%= alma_app_fulfillment_url(document) %>"></div>
    <% end %>
  <% } %>
</dl>
