<div class="row">
<%# default partial to display solr document fields in catalog index view -%>
  <div class="book-info-srch <%= thumbnail_classes(document) %>" <%= isbn_data_attribute(document) %> >
    <%= link_to document do %>
      <%= image_tag "", :alt => "Book cover for " + document["title_statement_display"].to_s, :class => "book_cover invisible"  %>
      <%= image_tag default_cover_image(document), :class => "default" %>
    <% end %>
  </div>
  <div class="book_info col-sm-9 col-lg-10">
    <%= render "fields", document: document, document_counter: document_counter %>
    <hr class="document-divider" />
  </div>
</div>
