<% doc_presenter = show_presenter(document) %>

<% @response["response"][:docs].each_with_index do |field, i| %>
  <% if document.fetch("availability_facet", [])[i] == "Online" %>
    <% if document["electronic_resource_display"].length == 1 %>
      <%= button_to "Online", single_link_builder(document["electronic_resource_display"][i]), class:"collapse-button btn btn-sm btn-info" %>
    <% else %>
      <button class="btn-block btn btn-sm btn-info collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document_counter %>">Online</button>
      <div id="online-document-<%= document_counter %>" class="collapse online_resources">
        <ul>
          <%= check_for_full_http_link({document: document, field: "electronic_resource_display"}) %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <% if document.fetch("availability_facet", [])[i] == "At the Library" %>
    <div class="row button-break"></div>
    <button data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" class="btn btn-sm btn-default availability-toggle-details collapse-button" data-toggle="collapse" data-target="#physical-document-<%=  document_counter %>">Loading...</button>
    <dd class="blacklight-availability availability-ajax-load" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" ></dd>
    <div id="physical-document-<%= document_counter %>" class="collapse">
    <div class="availability-details-container" data-availability-iframe-url="<%= alma_app_fulfillment_url(document) %>"></div>
  <% end %>
<% end %>
