<%# header bar for doc items in index view -%>

    <% document_actions = capture do %>
      <% counter = if defined?(component) && component.present? && document_counter.present?
        document_counter
      else
        document_counter_with_offset(document_counter)
      end %>
      <% if counter %>
        <span class="document-counter float-start">
          <%= t('blacklight.search.documents.counter', counter: counter) %>
        </span>
      <% end %>

      <% # div closes in _index.html.erb %> 

      <div class="document-search-result border">
        <header class="documentHeader">
          <div class="document-header-container">
            <h3 class="index_title">
              <%= link_to_document document, counter: counter %>
            </h3>
            <%= render "index_format_date_fields", :document => document %>
          </div>
          <%= render_index_doc_actions document, wrapping_class: "index-document-functions mt-auto" %>
        </header>

    <% end %>

    <%= document_actions %>
