<% doc_presenter = index_presenter(document) %>
<div class="blacklight-availability availability-ajax-load" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" >
</div>

  <%= render_online_availability_button(document) %>
  <%= doc_presenter.field_value("purchase_order_availability") %>

  <% if document.fetch("availability_facet", []).include? "At the Library" %>
    <div class="row button-break"></div>
    <div data-controller="availability" data-availability-url="<%= item_url(document.alma_availability_mms_ids.first, doc_id: document.id, redirect_to: request.url) %>">
      <div class="controls">
        <button data-action="availability#item" data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" class="btn btn-sm btn-default availability-toggle-details" data-toggle="collapse" data-target="#physical-document-<%=  document.id %>, availability.button" id="available_button-<%=  document.id %>">
          <span role="spin" aria-expanded="false">Loading...</span>
        </button>
        <div data-target="availability.spinner" class="spinner">
          <span class="glyphicon glyphicon-refresh spinning"></span>
          Loading Availability
        </div>

        <div id="requests-container-<%= document.id %>" class="hidden requests-container" data-controller="requests" data-target="show.request, availability.request">
          <% if user_signed_in? %>
            <%= request_modal(document.id, document.id, @pickup_locations, @request_level) %>
          <% else %>
            <%= link_to(t("requests.log_in"), doc_redirect_url(document.id),  data: {"ajax-modal": "trigger"}, class: "log-in-link") %>
          <% end %>
        </div>
      </div>

      <div  data-availability-ids="<%= document.alma_availability_mms_ids.join(',') %>" id="physical-document-<%= document.id %>" class="collapse panel-content avail-container index-avail-container">
        <div class="table-wrapper hidden">
          <div data-target="availability.panel"></div>
          <div><%= render "check_holdings", document: document, document_counter: document.id %></div>
        </div>
      </div>
    </div>
  <% end %>
