<% doc_presenter = index_presenter(document) %>

<div class="clearfix d-flex-md-reverse">
<%# default partial to display solr document fields in catalog index view %>
  <div class="book-info-srch thumbnail float-md-right pr-3" <%= isbn_data_attribute(document) %> >
    <%= link_to document do %>
      <%= image_tag "", :alt => "Book cover for " + document["title_statement_display"].to_s, :class => "book_cover invisible"  %>
      <%= image_tag default_cover_image(document), :class => "default", :alt => "default cover image" %>
    <% end %>
  </div>
  <div class="book_info col-sm-12">
    <%= render "fields", document: document, document_counter: document_counter %>
  </div>
</div>

<%= render_availability(document, doc_presenter) %>

<hr class="document-divider" />
