<%= form_tag url_for(controller: controller_name, action: "message"),
               data: { blacklight_modal: 'trigger' },
               id: 'message_form',
               class: "modal_form",
               method: :post do %>
  <div class="modal-body">
    <%= render partial: '/flash_msg' %>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="title">
          <%= t('blacklight.message.form.title') %>
        </label>
        <div class="col-sm-10">
          <%= text_field_tag("title", @document[:title_statement_display].first, readonly: "readonly") %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="location">
          <%= t('blacklight.message.form.location') %>
        </label>
        <div class="col-sm-10">
          <% @document[:library_facet].each do |library| %>
            <div>
              <%= radio_button_tag("location", library) %>
              <%= label_tag("location-#{library}", library) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="to">
          <%= t('blacklight.message.form.to') %>
        </label>
        <div class="col-sm-10">
          <%= telephone_field_tag :to, params[:to], class: 'form-control' %>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> <%= t('blacklight.message.form.submit') %></button>
  </div>
<% end %>
