<%= form_tag url_for(controller: controller_name, action: "message"),
             data: { blacklight_modal: 'trigger' },
             id: 'sms_form',
             class: "modal_form",
             method: :post do %>
  <legend>Send SMS</legend>
  <div>
    <%= label_tag :name, 'Message:' %>
    <%= text_area_tag :record_message, "The partial message"%>
  </div>
  <div>
    <%= label_tag :name, 'Phone Number:' %>
    <%= text_field_tag :phone_number %>
  </div>
  <div class="actions">
    <%= submit_tag "Send" %>
  </div>
<% end %>
