<% if has_many_electronic_resources?(document) %>
  <div class="row button-break"></div>
  <button class="btn btn-sm online-btn collapsed collapse-button" data-toggle="collapse" data-target="#online-document-<%=  document.id %>" id="many_links_online">
    <span class="avail-label" aria-expanded="false">Online</span>
  </button>
  <div id="online-document-<%= document.id %>" class="collapse online_resources online-list">
    <div class="list_elec_links search_results_table w-100">
      <%= links %>
      <span class="border-bottom"></span>
    </div>
  </div>
<% elsif has_one_electronic_resource?(document) %>
  <div class="availability">
    <% if controller_name == "databases" %>
      <a href="<%= single_link_builder(document["electronic_resource_display"].first) %>" class="collapse-button btn btn-sm databases-btn" title="This link opens the resource in a new tab", target="_blank" id:"single_link_online"><span class="avail-label">Go to Database<span></a>
    <% else %>
      <a href="<%= single_link_builder(document["electronic_resource_display"].first) %>" class="collapse-button btn btn-sm online-btn" title="This link opens the resource in a new tab", target="_blank" id:"single_link_online"><span class="avail-label">Online<span></a>
    <% end %>
  </div>
<% end %>
