<%# This template is used for the initial load of availability information in the availability panel %>
<%# It gets replaced by a similar template in almaws/item.html.erb, so changes need to be in both places %>

<% @document_availability = document_availability_info(document) %>

<% unless @document_availability.all?(&:empty?) %>
  <% sort_order_for_holdings(@document_availability).each do |key, locations| %>
  <% locations.each do |location, items| %>
    <div class="m-0" data-controller="availability">
      <div class="table-heading ml-0 mb-0 border-bottom border-top">
        <h3 class="holding-name"><span class="library-name"><%= library_name_from_short_code(key) %></span><span class="location-name"> - <%= location_name_from_short_codes(location, key) %></span></h3>
        <% if summary_list(items).present? %>
          <div class="holding-summary"><p><%= summary_list(items) %></p></div>
        <% end %>
      </div>

      <%= library_specific_instructions(key, document) %>

      <table class="table availability-table border-0 px-2 mt-3">
        <thead>
        <tr>
          <th class="call-number-col">Call Number</th>
          <th class="description-col">Description</th>
          <th class="material-type-col">Format</th>
          <th class="availability-col">Availability</th>
        </tr>
        </thead>
        <tbody data-long-list>
      <% items.each do |item| %>
        <tr>
          <td><%= alternative_call_number(item) %></td>
          <td><%= description(item) %><%= public_note(item) %></td>
          <td><%= material_type(item) %></td>
          <td>
            <div class="spinner">
              <span class="fa fa-spinner" aria-busy="true" aria-live="polite"></span>
              <span>Loading Availability</span>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>

    </div>
  <% end %>
  <% end %>

<% else %>
  <div id="error-message">We are unable to find availability information for this record. Please contact the library for more information.</div>
<% end %>
