<% #Using the Bootstrap Pagination class  -%>
<div id="record-page-nav-tools" class="d-flex justify-content-between align-items-start border-bottom border-grey">
  <% if current_search_session %>
    <div class="search-widgets mr-auto">
      <%= link_back_to_catalog class: 'btn btn-sm btn-back-to-search', id: 'back_to_search' %>
      <%= link_to t('blacklight.search.start_over'), bento_search_engine_path, id: 'start_over', class: 'btn btn-sm' %>
    </div>
  <% end %>
  <div class='pagination-search-widgets'>
  <% if @search_context[:prev] || @search_context[:next] %>
    <div class="page-links">
      <%= link_to_previous_document @search_context[:prev] %> |
      <%= item_page_entry_info %> |
      <%= link_to_next_document @search_context[:next] %>
    </div>
  <% end %>
  </div>
  <div id="nav-tools" class="nav-tools">
    <%= render partial: 'show_tools_navbar' %>
  </div>
</div>
