<% #Using the Bootstrap Pagination class  -%>
<% #DEPRECATED - using id="previousNextDocument" as a selector is deprecated and will be removed in Blacklight 6.0 %>
<div id='previousNextDocument' class='pagination-search-widgets'>
  <% if current_search_session %>
    <div class="search-widgets pull-left"
      <%= link_back_to_catalog class: 'btn btn-sm btn-back-to-search', id: 'back_to_search' %>
      <%=link_to t('blacklight.search.start_over'), bento_search_engine_path, id: 'startOverLink', class: 'btn btn-sm', id: 'start_over' %>
    </div>
  <% end %>
  <div id="record-page-nav-tools">
  <% if @previous_document || @next_document %>
    <div id="page-links" class="page_links">
      <%= link_to_previous_document @previous_document %> |

      <%= item_page_entry_info %> |

      <%= link_to_next_document @next_document %>
    </div>
  <% end %>
    <div id="nav-tools" class="nav-tools">
      <%= render partial: 'show_tools_navbar' %>
    </div>
</div>
</div>
