<%= form_tag search_action_url, method: :get, class: "search-query-form col-lg-9 col-sm-12", role: "search", id: "catalog-search" do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>

    <% if search_fields.length > 1 %>
      <label for="search_field" class="sr-only"><%= t("blacklight.search.form.search_field.label") %></label>
    <% end %>

    <div class="input-group d-flex">
      <% if search_fields.length > 1 %>
        <%= select_tag(:search_field, options_for_select(search_fields, h(search_params[:search_field])), title: t("blacklight.search.form.search_field.title"), id: "search_field", class: " custom-select search-field flex-shrink-1") %>
      <% elsif search_fields.length == 1 %>
        <%= hidden_field_tag :search_field, search_fields.first.last %>
      <% end %>

    <label for="q" class="sr-only"><%= t("blacklight.search.form.search.label") %></label>
    <%= text_field_tag :q, search_params[:q], placeholder: t("blacklight.search.form.search.placeholder"), class: "search_q q form-control w-50", id: "q", autofocus: should_autofocus_on_search_box?, data: { autocomplete_enabled: autocomplete_enabled? }  %>

    <span class="input-group-append">
      <button type="submit" class="btn btn-red search-btn" id="search" aria-label="search">
        <i class="fa fa-search"></i>      
    </button>
    </span>
  </div>
<% end %>

<div class="mx-auto p2">
  <%= render "advanced_search_link" %>
</div>
