<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% if !cookies.fetch("catalogOnce", false) && current_page?(controller: "catalog") || !cookies.fetch("articleOnce", false) && current_page?(controller: "primo_central")  %>
<div class="row" data-target="explanation.catalog explanation.article" data-controller="explanation">
  <div class="col-md-8 col-md-offset-2 text-center">
    <% if current_page?(controller: "catalog") %>
      <p><%= t('blacklight.catalog_explanation_html') %></p>
    <% else %>
      <p><%= t('blacklight.article_explanation_html') %></p>
    <% end %>
  </div>
  <div class="col-md-2">
    <button class="btn btn-link" data-action="explanation#catalog explanation#article">Hide</button>
  </div>
</div>
<% end %>

<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
<% end %>

<%= render 'search_header' %>
<span id="alma_availability_url" data-url="<%= alma_availability_url(format: :json) %>" ></span>
<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>
