<div class="no-results-tips">
  <p class="no-results-header"><strong><%= t("no_results.search_suggestions") %></strong></p>
  <ul>
    <li><%= t("no_results.modify_words") %></li>
    <li><%= t("no_results.fewer_or_general_keywords") %></li>
    <li><%= t("no_results.spell_check") %></li>
    <li><%= t("no_results.adjust_filters") %></li>
    <li>
      <%= help_link %>
      <%= t("no_results.for_help") %>
    </li>
  </ul>
</div>
