<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% if params[:controller] == "catalog" %>
  <% @page_title = t('blacklight.catalog_search_results.title') %>
<% else %>
  <% @page_title = t('blacklight.article_search_results.title') %>
<% end %>

<% if !cookies.fetch("#{controller_name}Once", false) %>
<div class="row" data-target="<%= "explanation.#{controller_name}" %>" data-controller="explanation">
  <div class="col-sm-9 col-lg-10">
      <p class="explanation"><%= t("blacklight.#{controller_name}_explanation_html") %></p>
  </div>
  <div class="col-md-2">
    <button class="btn btn-link" data-action="<%= "explanation##{controller_name}" %>">Hide</button>
  </div>
</div>
<% end %>

<% content_for(:head) do -%>
  <%= render_opensearch_response_metadata %>
<% end %>

<%= render 'search_header' %>
<span id="alma_availability_url" data-url="<%= alma_availability_url(format: :json) %>" ></span>
<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- elsif render_grouped_response? %>
  <%= render_grouped_document_index %>
<%- else %>
  <%= render_document_index %>
<%- end %>

<%= render 'results_pagination' %>
