<dt class="blacklight-<%= field_name.parameterize %>col-xs-12 col-sm-3 col-md-3"><%= render_document_show_field_label document, field: field_name %></dt>
<% if field_presenter.values.length == 1 %>
  <% value = field_presenter.render.tap { |value| field[:raw] ? raw(value) : value } %>
  <dd class="blacklight-<%= field_name.parameterize %> col-xs-12 col-sm-9"><%= safe_join(Array.wrap(value)) %></dd>
<% else %>
  <dd class="blacklight-<%= field_name.parameterize %> col-xs-12 col-sm-9">
    <ul>
    <% Array.wrap(field_presenter.render).each do |value| %>
      <li class="list_items"> <%= safe_join(Array.wrap(value)) %> </li>
    <% end %>
    </ul>
  </dd>
<% end -%>
