<% doc_presenter = document_presenter(document) %>
<%# default partial to display solr document fields in catalog show view %>
<div class="record-page-wrapper clearfix">
  <% unless controller_name == "databases" %>
    <div class="record-view thumbnail float-md-right col-md-2 col-4" <%= render_google_books_data_attribute(document) %> >
      <%= image_tag "", :alt => "Book cover for " + document["title_statement_display"].to_s, :class => "book_cover invisible pb-2", :id => "book-cover-image" %>
      <%= image_tag default_cover_image(document), :class => "default", :alt => "Default icon for " + document["title_statement_display"].to_s %>
      <%= link_to(image_tag("gbs_preview_button.gif", alt: "Google Preview"), "", :class => "preview invisible") %>
    </div>
  <% end %>

  <div class="float-md-left col-md-9">
    <%= render "show_primary_fields", :document => document %>
    <%= render "show_availability_section", :document => document %>
  </div>

  <div class="float-md-left col-md-12 ml-0">
    <%= render "show_secondary_fields", :document => document %>
    <%= render "staff_view_link" %>
  </div>
</div>

<h3 class="query-heading hidden">Related items</h3>
<div class="query-feedback pt-1 hidden">
  <p><%= t("query_list.query_feedback_html", href: link_to(t("query_list.query_feedback_href"), t("query_list.query_feedback_link"), target: "_blank")) %></p>
</div>
<%= render "record_page_query_lists", :document => document %>
