<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<% if show_doc_actions? %>
<% @sendto = {} %>
      <ul id="tools-navbar">
        <%= render_show_doc_actions @document do |config, inner| %>
          <% if config.key == :bookmark %>
            <li class="<%= config.key %>" id="bookmark_button">
              <%= inner %>
            </li>
            <% if @document.citable? %>
            <li>
              <%= link_to t("blacklight.tools.cite_html"), citation_solr_document_path(:id => @document), {:id => "citeLink", :data => {:blacklight_modal => "trigger"}, :class => "citation btn btn-sm"} %>
            </li>
            <% end %>
          <% else %>

            <% @sendto[config.key] = inner %>

          <% end %>
        <% end %>

        <li id="sendto-menu">
          <div id="sendto" class="dropdown show">
            <button class="btn btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send To <span class="caret"></span></button>
            <div class="sendto-menu dropdown-menu bg-white border border-light-grey">
              <% @sendto.each do |key,value| %>
                <div class="sendto-item dropdown-item">
                  <%= value %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
<% end %>
