<% doc_presenter = show_presenter(document) %>
<%# partial to display availability details in catalog show view -%>
<div class="col-sm-12">
<div id="record-view-iframe" class="panel" data-controller="show" data-show-url="<%= item_url(document.id) %>">
  <div class="availability-panel-heading panel-heading">
    <h4 id="availability-heading" class="text-left">Availability</h4>
    <div id="heading-request" class="text-right" data-target="show.request"></div>
  </div>


  <%= render_online_availability(doc_presenter) %>

  <% if document.fetch("availability_facet", []).include?("At the Library") %>
    <div data-controller="show" data-show-url="<%= item_url(document.id, redirect_to: request.url) %>" class="physical-holding-panel panel-body">
      <div class="panel-content" >
        <div data-target="show.spinner" class="spinner">
          <span class="glyphicon glyphicon-refresh glyphicon-spin" role="spinbutton"></span>
          Loading Availability
        </div>
        <div class="table-wrapper hidden">
          <div data-target="show.panel"></div>
          <div>
            <%= render "check_holdings", document: document %>
          </div>
      </div>
      </div>
  <% end %>
  <% if aeon_request_button(document) %>
    <%= render "aeon_request", :document => document %>
  <% end %>
</div>
</div>
