<dt class="show-page-label blacklight-<%= field_name.parameterize %> col-xs-12 col-sm-3 col-md-3"><%= render Blacklight::MetadataFieldComponent.new( field_config: field_presenter.field_config, document: document, field: field_name, show: :label ) unless field_presenter.field_config[:label] == "" %> </dt>
<% rendered = Array.wrap(field_presenter.render).reject { |value| value.blank? }.map { |rendered| field_presenter.field_config[:raw] ? raw(rendered) : rendered } %>
<% if rendered.length == 1 %>
  <dd class="blacklight-<%= field_name.parameterize %> col-xs-12 col-sm-9"><%= safe_join(Array.wrap(rendered)) %></dd>
<% elsif rendered.length > 1 %>
  <dd class="blacklight-<%= field_name.parameterize %> col-xs-12 col-sm-9">
    <ul>
    <% rendered.each do |value| %>
      <li class="list_items"> <%= safe_join(Array.wrap(value)) %> </li>
    <% end %>
    </ul>
  </dd>
<% end -%>
