<% doc_presenter = document_presenter(document) %>
<%# default partial to display solr document fields in catalog show view %>
<hr class="record-page-divider"/>
<div class="record-page-wrapper clearfix" data-controller="book-covers">
  <% unless [ "databases", "primo_central"].include?(controller_name) %>
    <%= render TulThumbnailComponent.new(presenter: doc_presenter, gb_preview: true) %>
  <% end %>

  <div class="float-md-start col-md-9">
    <%= render "show_primary_fields", :document => document %>
    <%= render "show_availability_section", :document => document %>
  </div>

  <div class="float-md-start col-md-12 ms-0">
    <%= render "show_secondary_fields", :document => document %>
    <%= render "staff_view_link" %>
    <div id="record-page-query-lists" class="no-gutters query-heading hidden">
      <h2>Related items</h2>
      <hr/>
    </div>
    <div class="query-feedback pt-1 hidden">
      <p><%= t("query_list.query_feedback_html", href: link_to(t("query_list.query_feedback_href"), t("query_list.query_feedback_link"), target: "_blank")) %></p>
    </div>
    <%= render "record_page_query_lists", :document => document %>
  </div>
</div>