<% doc_presenter = show_presenter(document) %>
<%# partial to display availability details in catalog show view -%>
<div class="col-sm-12">
<div id="record-view-iframe" data-availability-id="<%= document.id %>" class="panel" data-controller="show" data-show-url="<%= item_url(document.id) %>">
  <div class="availability-panel-heading panel-heading">
    <h4 id="availability-heading" class="text-left">Availability</h4>
    <div id="heading-request">
      <div id="requests-container" class="hidden" data-controller="requests" data-target="show.request, availability.request">
        <% if user_signed_in? %>
          <button class="btn btn-primary request-button" data-action="requests#hold">Request</button>
          <div id="stimulus-modal" data-target="requests.modal"></div>
        <% else %>
          <%= link_to(t("blacklight.requests.log_in"), new_user_session_with_redirect_path(@redirect_to),  data: {"ajax-modal": "trigger"}) %>          <%# TODO: Redirect back to this page %>
        <% end %>
      </div>
    </div>
  </div>


  <%= render_online_availability(doc_presenter) %>

  <% if document.fetch("availability_facet", []).include?("At the Library") %>
    <div data-show-url="<%= item_url(document.id, redirect_to: request.url) %>" class="physical-holding-panel panel-body">
      <div class="panel-content" >
        <div id="avail-spinner" data-target="show.spinner" class="spinner">
          <span class="glyphicon glyphicon-refresh glyphicon-spin" role="spinbutton"></span>
          Loading Availability
        </div>
        <div class="table-wrapper hidden">
          <div data-target="show.panel"></div>
          <div>
            <%= render "check_holdings", document: document %>
          </div>
      </div>
      </div>
  <% end %>
  <% if aeon_request_button(document) %>
    <%= render "aeon_request", :document => document %>
  <% end %>
</div>
</div>
