<% doc_presenter = show_presenter(document) %>
<%# partial to display availability details in catalog show view -%>

<div data-controller="show" data-show-url="<%= item_url(document.alma_availability_mms_ids.first, doc_id: document.id, redirect_to: request.url) %>">
  <div id="record-view-iframe" data-availability-id="<%= document.alma_availability_mms_ids.first %>" class="card availability-card d-flex mx-auto border-0">
    <div class="availability-card-heading float-right">
      <div id="heading-request ml-auto">
        <%= presenter_field_value(doc_presenter, "po_link") %>

<h2 class="sr-only availability-section"><%= "Availability" %></h2>

        <%= render_temporary_electronic_request_help_form_button(document) %>

        <div id="requests-container" class="hidden">
          <% if user_signed_in? %>
            <%= request_modal(document.id, @pickup_locations, @request_level) %>
          <% else %>
          <%= link_to(t("requests.request_button"), doc_redirect_url(document.id),  data: {"blacklight-modal": "trigger"}, class: "btn btn-primary request-button record-page-request-btn search-results-request-btn float-right") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if document.fetch("availability_facet", []).include?("At the Library") %>
    <div class="physical-holding-panel border-0 mt-2">
      <div class="border border-header-grey mb-3">
        <div data-target="show.panel">
          <%= render "physical_availability_card", document: document, document_counter: document.id %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render_online_availability(doc_presenter) %>
  <%= render_purchase_order_availability(doc_presenter) %>
</div>
