<% # Overridden from BL in order to add location selctor. %>


<%= form_tag url_for(controller: controller_name, action: "sms"),
             data: { blacklight_modal: 'trigger' },
             id: 'sms_form',
             class: "modal_form",
             method: :post do %>

  <div class="modal-body">

  <div class="faq-text-box border border-cherry-red rounded mb-2">
    <p class="mb-0"> We are phasing the Send To Text option in December 2022. This service may not work currently with some cellphone providers. <a href="https://library.temple.edu/contact-us">Contact us</a> if you have any questions.</p>
  </div>

  <%= render :partial=>'/shared/flash_msg' %>
    <div class="form-group row">
      <label class="control-label col-sm-3 text-right" for="to">
        <%= t('blacklight.sms.form.to') %>
      </label>
      <div class="col-sm-8">
        <%= telephone_field_tag :to, params[:to], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-3 text-right" for="carrier">
        <%= t('blacklight.sms.form.carrier') %>
      </label>
      <div class="col-sm-8">
          <%= select_tag(:carrier, options_for_select(sms_mappings.to_a.sort.unshift([t('blacklight.sms.form.carrier_prompt'),'']), params[:carrier]), class: 'form-control') %><br/>
      </div>
    </div>

    <div class="location-wrapper">
      <% @response.documents.each do |doc| %>
        <% doc_presenter = show_presenter(doc) %>
        <%= render_location_selector(doc) %>

        <%= hidden_field_tag "id[]", doc.id %>
      <% end %>
    </div>
  </div>

  <div class="modal-footer">
    <%= button_tag t('blacklight.sms.form.submit'), type: "submit", class:"btn btn-primary", data: { disable_with: "Sending text..." } %>
  </div>
<% end %>
