<% # Overridden from BL in order to add location selctor. %>

<%= form_tag url_for(:controller => controller_name, :action => "sms"), :id => 'sms_form', :class => "form-horizontal ajax_form", :method => :post do %>
  <div class="modal-body">
  <%= render :partial=>'/shared/flash_msg' %>
    <div class="form-group row">
      <label class="control-label col-sm-3 text-right" for="to">
        <%= t('blacklight.sms.form.to') %>
      </label>
      <div class="col-sm-8">
        <%= telephone_field_tag :to, params[:to], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-3 text-right" for="carrier">
        <%= t('blacklight.sms.form.carrier') %>
      </label>
      <div class="col-sm-8">
          <%= select_tag(:carrier, options_for_select(sms_mappings.to_a.sort.unshift([t('blacklight.sms.form.carrier_prompt'),'']), params[:carrier]), class: 'form-control') %><br/>
      </div>
    </div>

    <div class="location-wrapper">
      <% @documents.each do |doc| %>
        <% doc_presenter = show_presenter(doc) %>
        <h3><div class="title sms-form-title pl-3"><%= doc_presenter.heading %></div></h3>
        <%= render_location_selector(doc) %>
        <%= hidden_field_tag "id[]", doc.id %>
      <% end %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
