<div id="login" class="p-0 pt-3">
<h2 class="py-2">Log in to My Library Account</h2>

<%- if devise_mapping.omniauthable? %>
<div class="login-options p-0 m-0 mb-5">
  <p class="pt-3 pb-2 info">To see the options for getting this item, please login</p>
  <div class="">
    <%= link_to t("devise.sessions.new.temple_users_html") , student_faculty_login_uri, method: :post %>
    <%= link_to t("devise.sessions.new.pa_users_html"), alma_social_login_url(redirect_to: params[:redirect_to]) %>
    <% if params[:redirect_to] %>
      <%= link_to t("devise.sessions.new.guests_html"), _build_guest_login_libwizard_url(@document), {class: "guest-link", target: "_blank"} %>
    <% else %>
      <%= link_to t("devise.sessions.new.guests_html"), t("devise.sessions.new.guest_link"), {class: "guest-link", target: "_blank"} %>
    <% end -%>
  </div>
</div>
<% end -%>

<% unless Rails.env.development? %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "mr-4" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="mb-3">
    <%= f.submit "Log in", class: "btn btn-primary py-1" %>
  </div>
  <% end %>
<% end %>
</div>
