<div class="card facet-limit blacklight-<%= @facet_field.key.parameterize %> <%= 'facet-limit-active' if @facet_field.active? %>">
  <h3 class="card-header facet-field-heading collapse-toggle collapsed" id="<%= @facet_field.html_id %>-header" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#<%= @facet_field.html_id %>">
    <%= link_to @facet_field.label, "##{ @facet_field.html_id}", data: { turbo: false } %>
  </h3>
  <div id="<%= @facet_field.html_id %>" aria-labelledby="<%= @facet_field.html_id %>-header" class="collapse <%= "show" unless @facet_field.collapsed? %>">
    <div class="card-body">
      <%= body %>

      <% if @facet_field.modal_path %>
        <div class="more_facets">
          <%= link_to t("more_#{@facet_field.key}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: @facet_field.label),
            @facet_field.modal_path,
            data: { blacklight_modal: 'trigger', turbo: false } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
