<div class="card p-0 request-card">
  <div class="request-heading bg-header-grey">
    <h2 class="card-title mb-2">
        <a class="booking-request accordian-toggle" aria-expanded="<%= only_one_option_allowed(request_options, @books, document) %>" data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseFive-<%= @mms_id %>"><%= t("requests.aeon_request_allowed_header") %></a>
    </h2>
  </div>
</div>

<div id="collapseFive-<%= @mms_id %>" class="collapse <%= "show" if only_one_option_allowed(request_options, @books, document) %>">
  <div class="card-body pb-0">
    <p><%= t("requests.aeon_request_allowed_body") %></p>
    <div><%= aeon_request_button(@document) %></div>
  </div>
</div>
