<%= form_with url: booking_request_path, local: true, class: 'form-horizontal request-form', method: :post do |form| %>
  <div class="container" data-controller="form">
    <%= form.hidden_field :mms_id, value: params[:mms_id] %>
    <%= form.hidden_field :user_id, value: @user_id %>
    <%= form.hidden_field :request_level, value: @request_level %>

    <div class="row">
      <div class="col-sm-4 hold-form">
        <%= label("", :pickup_location, "Pickup Location:") %>
        <%= select("", :pickup_location, @booking_location.collect { |lib| [ lib.last, lib.first ] }, {class: "request-form form-control"}, {include_blank: true, required: true, "aria-required": true }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 hold-form">
        <%= label("", :material_type, "Material Type:") %>
        <%= select("", :material_type, @material_types.collect { |mat| [ mat.values.last, mat.values.first ] }, {class: "request-form form-control"}, {include_blank: true, required: true, "aria-required": true }) %>
      </div>
    </div>

    <% if @description.present? %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= form.label(:description, "Description:") %>
          <%= select_tag(:description, options_for_select(@description), class: "request-form form-control", include_blank: true, required: true, "aria-required": true) %>
        </div>
      </div>
    <% end %>

    <div class="row hold-form">
      <div class="col-sm-5">
        <%= form.label(:booking_start_date, "Booking Start Date:") %>
        <%= date_field_tag :booking_start_date, "", min: Date.tomorrow, required: true, "aria-required": true %>
      </div>
    </div>

    <div class="row hold-form">
      <div class="col-sm-5">
        <%= form.label(:booking_end_date, "Booking End Date:") %>
        <%= date_field_tag :booking_end_date, "", required: true, "aria-required": true %>
        <% if browser.ie? || browser.safari? %>
          </br>
          <small class="invalid-field">Please use YYYY-MM-DD format.</small>
        <% end %>
      </div>
    </div>

    <div class="row hold-form">
      <div class="col-sm-4">
        <%= form.label(:comment, "Notes: (optional)") %>
        <%= form.text_area :comment, class: "request-form form-control" %>
      </div>
    </div>

    <%= form.submit "Request", class:"btn btn-primary" %>

  </div>
<% end %>
