<div class="card p-0 request-card">
  <div class="request-heading bg-tan">
    <h4 class="card-title">
        <a class="booking-request accordian-toggle"  data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseThree-<%= @mms_id %>"><%= t("requests.booking_allowed_link") %></a>
    </h4>
  </div>

  <div id="collapseThree-<%= @mms_id %>" class="collapse <%= 'in' if only_one_option_allowed(request_options)%>">
    <div class="card-body">
      <h5 class="request-header"><%= t("requests.form.header") %></h5>
      <%= render "booking_request_form" %>
    </div>
  </div>
</div>
