<div class="card p-0 request-card">
  <div class="request-heading bg-lighter-grey">
    <h2 class="card-title mb-0">
      <a class="digital-request accordian-toggle" aria-expanded="<%= only_one_option_allowed(request_options, @books, document) %>" data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseTwo-<%= @mms_id %>"><%= t("requests.digitization_allowed_link") %></a>
    </h2>
  </div>

  <div id="collapseTwo-<%= @mms_id %>" class="collapse <%= 'show' if only_one_option_allowed(request_options, @books, document)%>">
    <div class="card-body">
      <%= render "digitization_request_form" %>
    </div>
  </div>
</div>
