<%= form_with url: digitization_request_path, local: true, id: "digitization-request-form", class: "form-horizontal", method: :post do |form|  %>

  <%= form.hidden_field :mms_id, value: params[:mms_id] %>
  <%= form.hidden_field :holding_id, value: @holding_id %>
  <%= form.hidden_field :item_pid, value: @item_pid %>
  <%= form.hidden_field :user_id, value: @user_id %>
  <%= form.hidden_field :request_level, value: @request_level %>


  <div class="container" data-controller="form">
    <div class="form-group row">
      <div class="col-sm-4">
        <%= form.label(:chapter_or_article_title, "Chapter/Article Title: *", class: "col-form-label") %>
        <%= form.text_field :chapter_or_article_title, class: "request-form form-control", required: true, "aria-required": true, pattern: ".*[^ ].*" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <%= form.label(:chapter_or_article_author, "Chapter/Article Author: *", class: "col-form-label") %>
        <%= form.text_field :chapter_or_article_author, class: "request-form form-control", value: @author, required: true, "aria-required": true, pattern: ".*[^ ].*" %>
      </div>
    </div>

    <% if @request_level == "item" %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= form.label(:description, "Description: *") %>
          <%= select_tag(:description, options_for_select(@description), class: "request-form form-control", include_blank: true, required: true, "aria-required": true) %>
        </div>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-xs-3 col-sm-2">
        <%= form.label(:from_page, "Start page: *") %>
        <%= form.number_field :from_page, class: "request-form form-control", required: true, "aria-required": true, min: "1" %>
      </div>

      <div class="col-xs-3 col-sm-2">
        <%= form.label(:to_page, "End page: *") %>
        <%= form.number_field :to_page, class: "request-form form-control", required: true, "aria-required": true, min: "#{:from_page}.value" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-5">
        <%= form.label(:last_interest_date, "Not Needed After (optional):") %>
        <%= date_field_tag :last_interest_date, "", pattern:"[0-9]{4}-[0-9]{2}-[0-9]{2}", id: "digitization_date_field" %>
        <%= render "format_date_message" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-4">
        <%= form.label(:comment, "Notes:") %>
        <%= form.text_area :comment, class: "request-form form-control" %>
      </div>
    </div>

    <%= form.submit"Request", class:"btn btn-primary" %>

  </div>
<% end %>
