<div class="panel panel-default request-heading">
  <div class="panel-heading">
    <h4 class="panel-title">
        <a class="hold-request accordian-toggle" data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseOne-<%= @mms_id %>"><%= t("requests.hold_allowed_link") %></a>
    </h4>
  </div>

  <div id="collapseOne-<%= @mms_id %>" class="panel-collapse collapse <%= 'in' if only_one_option_allowed(request_options)%>">
    <div class="panel-body">
        <h5 class="request-header"><%= t("requests.form.header") %></h5>
        <%= render "hold_request_form" %>
    </div>
  </div>
</div>
