
<label class="heading location-heading pl-3" for="location">Select a location: </label>
<div id="locationsList">

	<% materials.each do |material| %>

    <div class="row align-items-top">
      <input class="sms-form-locations" type="radio" name="barcode" id="<%= material["barcode"] %>" value="<%= material["barcode"] %>">

      <label for="<%= material["barcode"] %>">
        <%= material["library"] %> (<%= material["location"] %>)<br />
        <span>(<%= material["call_number"] %>)</span>
        <%= render_non_available_status_only(material["availability"]) %>
        <br />
      </label>
    </div>

	<% end %>
</div>
