
<label class="heading" for="location">Select a location: </label>
<div id="locationsList">

	<% books.each do |book| %>

    <div class="row">
      <input type="radio" name="barcode" id="<%= book["barcode"] %>" value="<%= book["barcode"] %>">

      <label for="<%= book["barcode"] %>">
        <%= book["library"] %> (<%= book["location"] %>)<br />
        <span>(<%= book["call_number"] %>)</span>
        <%= render_non_available_status_only(book["availability"]) %>
        <br />
      </label>
    </div>

	<% end %>
</div>
