<div class="card p-0 request-card">
  <div class="request-heading bg-header-grey">
    <h2 class="card-title mb-0">
      <a class="booking-request accordian-toggle" aria-expanded="<%= only_one_option_allowed(request_options, @books, document) %>" data-toggle="collapse" data-parent="#request-accordian-<%=  @mms_id %>" href="#collapseOpenShelves-<%= @mms_id %>"><%= t("requests.open_shelves_header") %></a>
    </h2>
  </div>
</div>

<div id="collapseOpenShelves-<%= @mms_id %>" class="collapse <%= "show" if only_one_option_allowed(request_options, @books, document) %>">
  <div class="card-body pb-0">
    <p><%= t("requests.open_shelves_text") %></p>
  </div>
</div>
