
  <table class="table table-responsive border-bottom">
    <% unless @items.empty? %>
      <% sort_order_for_holdings(@items).each do |key,items| %>
        <thead>
          <tr class="sr-only">
              <td></td>
              <th scope="col" id="location">Item Location</td>
              <th scope="col" id="callnum">Call Number</th>
              <th scope="col" id="desc">Description</th>
              <th scope="col" id="type">Material Type</th>
              <th scope="col" id="note">Public Note</th>
              <th scope="col" id="status">Availability Status</th>
          </tr>
        </thead>
        <tbody >
          <tr class="table-heading">
            <th id="<%= key %>" scope="colgroup" colspan="7"><%= library_name_from_short_code(key) %></th>
          </tr>
          <% items.each do |item| %>
            <tr>
              <th id="<%= location_status(item) %>" headers="<%= key %> location" scope="row"><%= location_status(item) %></th>
              <td headers="<%= key %> callnum" scope="row"><%= item.call_number %> <%= alternative_call_number(item) %></td>
              <td headers="<%= key %> desc" scope="row"><%= description(item) %></td>
              <td headers="<%= key %> type" scope="row"><%= physical_material_type(item) %></td>
              <td headers="<%= key %> note" scope="row"><%= public_note(item) %></td>
              <td headers="<%= key %> status" scope="row"><%= availability_status(item) %></td>
            </tr>
          <% end %>
            <!-- <tr>
              <td scope="row"><strong>Request Options: </strong> <%= select_tag "requests", options_for_select([ "option1", "option2" ]) %></td>
            </tr> -->
        </tbody>
      <% end %>
      <% else %>
      <tr>
        <td>
          We are unable to find availability information for this record. Please contact the library for more information.
        </td>
      </tr>
    <% end %>
  </table>
