<table class="table table-responsive borderless">
  <% @items["item"].each do |item| %>
    <thead>
      <tr>
        <th scope="col"><%= library_status(item) %></th>
        <th scope="col">Availability</th>
      </tr>
    </thead>
    <tbody >
        <tr>
          <td scope="row"><%= location_status(item) %></td>
          <td scope="row"><%= availability_status(item) %></td>
          <td scope="row"></td>
        </tr>

        <tr>
          <td scope="row"><%= description(item) %></td>
        </tr>
        <tr>
          <td scope="row"><%= public_note(item) %></td>
        </tr>
        <!-- <tr>
          <td scope="row"><strong>Request Options: </strong> <%= select_tag "requests", options_for_select([ "option1", "option2" ]) %></td>
        </tr> -->
    </tbody>
  <% end %>
</table>
