<button type="button" class="sr-only blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
  <span aria-hidden="true">&times;</span>
</button>

<div id="request-url-data-<%= @mms_id %>" class="hidden" data-requests-url="<%= request_options_path(@mms_id, @pickup_locations, @request_level) %>"></div>

<% unless @items.values.all?(&:empty?) %>
  <div class="availability-modal">
    <div class="modal-only">
      <%= render :partial => "paginate_compact", :object => @response %>
    </div>
    <% sort_order_for_holdings(@items).each do |key,items| %>
    <div id="availability-container" class="m-0">
      <div>
        <div class="avail-headers row sr-only">
            <div id="location">Item Location</div>
            <div id="callnum">Call Number</div>
            <div id="desc">Description</div>
            <div id="type">Material Type</div>
            <div id="note">Public Note</div>
            <div id="status">Availability Status</div>
        </div>
      </div>
      <div class="modal-body d-lg-flex table-heading ml-0 mb-0 border-bottom border-top border-tan-border justify-content-lg-between">
        <div id="<%= key %>" class="library-name card-title col-sm-12 col-lg-4"><%= library_name_from_short_code(key) %></div>
        <% if @document["holdings_summary_display"] %>
          <div class="holdings-summary col-sm-12"><%= @holdings_summary[key] %></div>
        <% end %>
        <div class="aeon-request"><%= aeon_request_button(items) %></div>
      </div>
      <% items.each do |item| %>
        <div class="row avail-info-rows border-bottom border-tan-border">
          <div id="<%= location_status(item) %>" class="col-sm-12 col-md-2"><strong><%= location_status(item) %></strong></div>
          <div class="col-sm-12 col-md-2"><%= item.call_number %> <%= alternative_call_number(item) %></div>
          <div class="col-sm-12 col-md-5">
            <%= description(item) %>
            <%= public_note(item) %>
            <%= physical_material_type(item) %>
          </div>
          <div class="col-sm-12 col-md-3"><%= availability_status(item) %></div>
        </div>
      <% end %>
    </div>
    <% end %>
    <%= render :partial => "paginate_compact", :object => @response %>
  </div>
  <% else %>

  <% unless @document["holdings_widiv_no_items_display"] %>
    <div class="border-bottom no-holdings border border-tan-border">
      <div class="no-item-info">
          <%= render_holdings_summary(@document) %>
      </div>
    </div>
  <% end %>
<% end %>
