<button type="button" class="sr-only ajax-modal-close close" data-dismiss="modal">×</button>
<div id="request-url-data-<%= @mms_id %>" class="hidden" data-requests-url="<%= request_options_path(@mms_id, @pickup_locations, @request_level) %>"></div>
<% unless @items.values.all?(&:empty?) %>
  <div class="availability-modal border-right border-tan-border">
    <div class="modal-only">
      <%= render :partial => "paginate_compact", :object => @response %>
    </div>
    <% sort_order_for_holdings(@items).each do |key,items| %>
    <table id="availability-container" class="table table-responsive m-0">
      <thead>
        <tr class="sr-only">
            <th scope="col" id="location">Item Location</th>
            <th scope="col" id="callnum">Call Number</th>
            <th scope="col" id="desc">Description</th>
            <th scope="col" id="type">Material Type</th>
            <th scope="col" id="note">Public Note</th>
            <th scope="col" id="status">Availability Status</th>
        </tr>
      </thead>
      <tbody class="border border-tan-border">
        <tr class="table-heading mb-0">
          <th id="<%= key %>" class="library-name card-title" scope="colgroup" colspan="2"><%= library_name_from_short_code(key) %></th>
          <% if @document["holdings_summary_display"] %>
            <td class="holdings-summary" colspan="7"><%= @holdings_summary[key] %></td>
          <% end %>
          <td class="aeon-request" colspan="7"><%= aeon_request_button(items) %></td>

        </tr>
        <% items.each do |item| %>
          <tr>
            <th id="<%= location_status(item) %>" headers="<%= key %> location" scope="row"><%= location_status(item) %></th>
            <td headers="<%= key %> callnum" scope="row"><%= item.call_number %> <%= alternative_call_number(item) %></td>
            <td headers="<%= key %> desc" scope="row"><%= description(item) %></td>
            <td headers="<%= key %> type" scope="row"><%= physical_material_type(item) %></td>
            <td headers="<%= key %> note" scope="row"><%= public_note(item) %></td>
            <td headers="<%= key %> status" scope="row"><%= availability_status(item) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= render :partial => "paginate_compact", :object => @response %>
  </div>
  <% else %>
  <table class="table table-responsive border-bottom">
    <tr>
      <% unless @document["holdings_with_no_items_display"] %>
        <%= render_holdings_summary(@document) %>
      <% end %>
    </tr>
  </table>
<% end %>
