<% unless @items.empty? %>

  <div id="requests-container" data-controller="requests" data-target="show.request" data-requests-url="<%= request_options_path(@mms_id, @pickup_locations, @request_level) %>">
    <% if user_signed_in? %>
      <button class="btn btn-primary" data-action="requests#hold">Request</button>
      <div id="stimulus-modal" data-target="requests.modal"></div>
    <% else %>
      <%= link_to(t("blacklight.requests.log_in"), new_user_session_with_redirect_path(@redirect_to),  data: {"ajax-modal": "trigger"}) %>
      <%# TODO: Redirect back to this page %>
    <% end %>
  </div>

  <% sort_order_for_holdings(@items).each do |key,items| %>
  <table class="table table-responsive border-bottom">
    <thead>
      <tr class="sr-only">
          <th scope="col" id="location">Item Location</td>
          <th scope="col" id="callnum">Call Number</th>
          <th scope="col" id="desc">Description</th>
          <th scope="col" id="type">Material Type</th>
          <th scope="col" id="note">Public Note</th>
          <th scope="col" id="status">Availability Status</th>
      </tr>
    </thead>
    <tbody >
      <tr class="table-heading">
        <th id="<%= key %>" scope="colgroup" colspan="7"><%= library_name_from_short_code(key) %></th>
      </tr>
      <% items.each do |item| %>
        <tr>
          <th id="<%= location_status(item) %>" headers="<%= key %> location" scope="row"><%= location_status(item) %></th>
          <td headers="<%= key %> callnum" scope="row"><%= item.call_number %> <%= alternative_call_number(item) %></td>
          <td headers="<%= key %> desc" scope="row"><%= description(item) %></td>
          <td headers="<%= key %> type" scope="row"><%= physical_material_type(item) %></td>
          <td headers="<%= key %> note" scope="row"><%= public_note(item) %></td>
          <td headers="<%= key %> status" scope="row"><%= availability_status(item) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% else %>
  <table class="table table-responsive border-bottom">
    <tr>
      <td>
        We are unable to find availability information for this record. Please contact the library for more information.
      </td>
    </tr>
  </table>
<% end %>
