<%= render Blacklight::System::ModalComponent.new do |component| %>
<% component.with_title { t("requests.header") } %>

<% component.with_body do %>
  <div class="modal-body">
    <div class="panel-group request-group" id="request-accordian-<%= @mms_id %>">
    <% if @items.any?(&:in_place?) %>
      <%= open_shelves_partial(@request_options, @document) %>
      <%= equipment_partial(@request_options, @document, @equipment) %>
    <% end %>
    <%= asrs_allowed_partial(@request_options, @document) %>
    <%= hold_allowed_partial(@request_options, @document) %>
    <%= digitization_allowed_partial(@request_options, @document) %>
    <%= booking_allowed_partial(@request_options, @document) %>
    <%= resource_sharing_broker_allowed_partial(@request_options, @books, @document) %>
    <%= aeon_request_partial(@request_options, @document) %>
    <%= digital_copy_partial(@request_options, @document) %>
    <%= no_temple_request_options_available(@request_options, @books, @document, @equipment) %>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <!-- The text/icon in the footer needs to be hidden when the libraries are closed -->
    <% unless campus_closed? %>
    <p class="modal-footer-text">
      <span class="request-options-footer-text"><%= t("requests.footer_html", href: link_to(t("requests.footer_href"), t("requests.footer_link"), target: "_blank")) %></span>
    </p>
    <% end %>
  </div>
<% end %>

<% end %>
