<div class="modal" id="request-<%= @mms_id %>" tabindex="-1" data-target="requests.id">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modal-title">Request Options:</h4>
      </div>
      <div class="modal-body">
        <div class="panel-group request-group" id="request-accordian">

        <% if @request_options.hold_allowed? %>
          <div class="panel panel-default request-heading">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="hold-request accordian-toggle" data-toggle="collapse" data-parent="#request-accordian" href="#collapseOne-<%= @mms_id %>">Request item</a>
              </h4>
            </div>

            <div id="collapseOne-<%= @mms_id %>" class="panel-collapse collapse">
              <div class="panel-body">
                  <h5 class="request-header">Details of title you requested:</h5>
                  <%= render "hold_request_form" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @request_options.digitization_allowed? %>
          <div class="panel panel-default request-heading">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="digital-request accordian-toggle"  data-toggle="collapse" data-parent="#request-accordian" href="#collapseTwo-<%= @mms_id %>">Scan an article/book chapter</a>
              </h4>
            </div>

            <div id="collapseTwo-<%= @mms_id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <h5 class="request-header">Details of title you requested:</h5>
                <%= render "digitization_request_form" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @request_options.booking_allowed? %>
          <div class="panel panel-default request-heading">
            <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="booking-request accordian-toggle"  data-toggle="collapse" data-parent="#request-accordian" href="#collapseThree-<%= @mms_id %>">Request to Book</a>
              </h4>
            </div>

            <div id="collapseThree-<%= @mms_id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <h5 class="request-header">Details of title you requested:</h5>
                <%= render "booking_request_form" %>
              </div>
            </div>
          </div>
        <% end %>

        <% if !@request_options.hold_allowed? && !@request_options.digitization_allowed? && !@request_options.booking_allowed?  %>
          <p>
            There are no request options available.
          </p>
        <% end %>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-target="cancel" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
