<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Availability</th>
      <th scope="col">Call Number</th>
    </tr>
  </thead>
  <tbody >
    <% @items["item"].each do |item| %>
      <tr>
        <td scope="row"><strong><%= item["item_data"]["library"]["desc"] %> - <%= item["item_data"]["location"]["value"] %></strong></td>
        <td scope="row"><%= item["item_data"]["base_status"]["desc"] %></td>
        <td scope="row"><%= item["holding_data"]["call_number"] %></td>
        <td><%= link_to "Details", almaws_getitem_details_path, class: "btn btn-default" %></td>
      </tr>
    <% end %>
      <tr>
        <td scope="row"><strong>Request Options: </strong> <%= select_tag "requests", options_for_select([ "option1", "option2" ]) %></td>
      </tr>
  </tbody>
</table>
