<div id="getting-started">
  <p>
    <%= t("databases.home_html") %></p>
    <%= link_to(t("bento.more_information_html"), t("bento.more_information_link"), target: "_blank") %><%= t("blacklight.more_information_databases") %>
  <p>
    <br>
    <%= t("databases.home_question_html") %>
    <br>
    <%= t("bento.zero_results.databases_html", href: link_to(t("bento.zero_results.databases_href"), t("bento.zero_results.databases_link"), target: "_blank")) %>
  </p>

</div>
