<h3><%= t 'bento_search.no_results.title' %></h3>
<div id="documents" class="noresults">
  <h5><%= t 'bento_search.no_results.modify_search' %></h5>
  <ul>
    <li><%= t 'bento_search.no_results.add_search_term' %></li>
    <li><%= t 'bento_search.no_results.spell_check' %></li>
    <li><%= t 'bento_search.no_results.modify_words' %></li>
    <li>
      <a href="https://library.temple.edu/asktulibraries"><%= t 'bento_search.no_results.ask_librarian' %></a>
      <%= t 'bento_search.no_results.for_help' %>
    </li>
  </ul>
</div>
