<nav class="path-links border-bottom border-light-grey bg-white" role="navigation">
  <div class="container d-md-flex justify-content-center">
    <%= render_nav_link(:everything_path, "Everything", "navbar_everything") %>
    <%= render_nav_link(:search_books_path, "Books", "navbar_books") %>
    <%= render_nav_link(:search_path, "Articles", "navbar_articles") %>
    <%= render_nav_link(:search_databases_path, "Databases", "navbar_databases") %>
    <%= render_nav_link(:search_journals_path, "Journals", "navbar_journals") %>
    <%= render_nav_link(:search_catalog_path, "More", "navbar_more") %>
  </div>
</nav>
