<div class="path-links text-center" role="navigation">
  <div class="row">
    <div class="col-sm-12">
      <nav clas="navbar-nav">
        <ul class="navbar nav-header-links">
          <%= render_nav_link(:everything_path, "Everything", "navbar_everything") %>
          <%= render_nav_link(:search_books_path, "Books", "navbar_books") %>
          <%= render_nav_link(:search_path, "Articles", "navbar_articles") %>
          <%= render_nav_link(:search_journals_path, "Journals", "navbar_journals") %>
          <%= render_nav_link(:search_catalog_path, "More", "navbar_more") %>
        </ul>
      </nav>
    </div>
  </div>
</div>
