<!DOCTYPE html>
<html>
  <head>
    <title>Tulcob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user != true_user %>
      You (<%= true_user.email %>) are signed in as <%= current_user.email %>
      <%= link_to "Back to admin", stop_impersonating_users_path, method: :post %>
    <% else %>
      You are signed in as <%= current_user.email %>
    <% end %>

  	<div id="page-wrapper">
    <%= yield %>

    <%= render "footer.html.erb" %>
  </div>
  </body>
</html>
