<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Temple Libraries' official online search tool for books, media, journals, databases, government documents and more." />
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= analytics_init({anonymize: true}) if GoogleAnalytics.valid_tracker? %>

    <%# Preload links for improved performance %>
    <%= preload_link_tag(font_url('faustina.woff2')) %>
    <%= preload_link_tag(font_url('roboto-condensed.woff2')) %>
    <%= preload_link_tag("https://fonts.googleapis.com/css?family=PT+Sans", as:"style") %>

    <link href="https://books.google.com" rel="preconnect" crossorigin>
    <link href="https://use.fontawesome.com" rel="preconnect" crossorigin>

    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => "xml") %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "application", "//use.fontawesome.com/releases/v5.6.1/css/all.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render partial: "shared/campus_closed" %>
    <%= javascript_packs_with_chunks_tag "application", 'data-turbolinks-track': 'reload', defer: true %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="bg-white <%= render_body_class %>">

    <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links') %>">
       <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
       <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
       <%= content_for(:skip_links) %>
    </nav>

    <div id="page-wrapper">
      <%= render :partial => "shared/header_navbar" %>

      <div class="lcs_slide_out">
        <%= link_to "Chat", "https://v2.libanswers.com/chati.php?hash=6af1e63c96b3b7ee77f712a13babdc61&referer=https%3A%2F%2Flibrarysearch.temple.edu&referer_title=Temple%20University%20Libraries", target: "_blank" %>
      </div>

      <div class="p-md-2">
        <%= render :partial=>'/shared/flash_msg' %>
      </div>

      <%= render partial: "shared/modal" %>

      <main id="main-container" class="col-sm-10 col-md-12 mx-auto p-0 m-0" role="main">


        <div class="pb-5">
          <%= yield %>
        </div>
      </main>

      <%= render :partial => "shared/footer" %>
    </div>
  </body>

  <% if libwizard_tutorial? %>
    <script type="text/javascript" src="https://temple.libwizard.com/lwz_load_tutorial.php?id=f000bc5937fea3ef1bafbb124876025a&type=embed&noheader=0"></script>
  <% end %>
</html>
