<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Temple Libraries' official online search tool for books, media, journals, databases, government documents and more." />
    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= render_page_title %></title>
    <%= preload_link_tag(font_url('CrimsonText-Regular.ttf')) %>
    <%= preload_link_tag(font_url('BebasNeue-webfont.woff')) %>
    <%= preload_link_tag(font_url('droidsans-webfont.woff')) %>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => "xml") %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "application", "//use.fontawesome.com/releases/v5.6.1/css/all.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': 'reload', defer: true %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <%= analytics_init({anonymize: true}) if GoogleAnalytics.valid_tracker? %>
  </head>
  <body class="bg-background-grey <%= render_body_class %>">
    <div id="page-wrapper">
      <%= render :partial => "shared/header_navbar" %>

      <div class="p-3">
        <%= render :partial=>'/shared/flash_msg' %>
      </div>

      <%= render partial: "shared/modal" %>

      <div id="main-container" class="col-sm-10 col-md-12 mx-auto p-0 m-0">
        <div class="pb-5">
          <%= yield %>
      </div>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>
